{% extends "layout.html" %}

{% block content %}

    <div class="container">
        <div class="jogos">
            <div class="navegarGames">
                <i class="ri-arrow-left-s-line"></i>
                <h2>Hoje</h2>
                <i class="ri-arrow-right-s-line"></i>
            </div>   
        </div>
        <div id="chaves-container"></div>
    </div>
    <div class="container">
        {% load static %}

        <div class="jogosHome">
            <div class="jogos">
                <div class="jogos">
                    <div class="jogo" id="chave-1">
                        <div class="jogo-ida">
                            <div>
                                <div class="info">
                                    <div class="data aovivo">Ao Vivo 88'</div>
                                    <div class="local">Mineirão</div>
                                </div>
                                <div class="times">
                                    <div class="mandante">
                                        Cruzeiro
                                        {% load static %}
                                        <img src="{% static 'img/escudos/Cruzeiro.png' %}" alt="Cruzeiro">
                                    </div>
                                    <div class="placar">3 x 0</div>
                                    <div class="visitante">
                                        {% load static %}
                                        <img src="{% static 'img/escudos/América-MG.png' %}" alt="América-MG">
                                        América-MG
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="jogo-volta">
                            <div>
                                <div class="info">
                                    <div class="data aovivo">Ao Vivo 88'</div>
                                    <div class="local">Neo Química Arena</div>
                                </div>
                                <div class="times">
                                    <div class="mandante">
                                        Corinthians
                                        {% load static %}
                                        <img src="{% static 'img/escudos/Corinthians.png' %}" alt="Corinthians">
                                    </div>
                                    <div class="placar">2 x 1</div>
                                    <div class="visitante">
                                        {% load static %}
                                        <img src="{% static 'img/escudos/Atlético-MG.png' %}" alt="Atlético-MG">
                                        Atlético-MG
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>
                <div class="jogos">
                    <div class="jogo" id="chave-1">
                        <div class="jogo-ida">
                            <div>
                                <div class="info">
                                    <div class="data aovivo">Ao Vivo 23'</div>
                                    <div class="local">Allianz Parque</div>
                                </div>
                                <div class="times">
                                    <div class="mandante">
                                        Palmeiras
                                        {% load static %}
                                        <img src="{% static 'img/escudos/Palmeiras.png' %}" alt="Palmeiras">
                                    </div>
                                    <div class="placar">1 x 1</div>
                                    <div class="visitante">
                                        {% load static %}
                                        <img src="{% static 'img/escudos/Flamengo.png' %}" alt="Flamengo">
                                        Flamengo
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="jogo-volta">
                            <div>
                                <div class="info">
                                    <div class="data aovivo">Ao Vivo 23'</div>
                                    <div class="local">Maracanã</div>
                                </div>
                                <div class="times">
                                    <div class="mandante">
                                        Fluminense
                                        {% load static %}
                                        <img src="{% static 'img/escudos/Fluminense.png' %}" alt="Fluminense">
                                    </div>
                                    <div class="placar">1 x 0</div>
                                    <div class="visitante">
                                        {% load static %}
                                        <img src="{% static 'img/escudos/Santos.png' %}" alt="Santos">
                                        Santos
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>  
                <div class="jogo">
                    <div class="jogo-ida">
                        <div class="info">
                            <div class="data">
                                Brasileirão 21:30
                            </div>
                            <div class="local">
                                Beira-Rio
                            </div>
                        </div>
                        <div class="times">
                            <div class="mandante">
                                Internacional
                                <img src="{% static 'img/escudos/Internacional.png' %}" alt="Internacional">
                            </div>
                            <div class="placar notlive">
                                  x  
                            </div>
                            <div class="visitante">
                                <img src="{% static 'img/escudos/Grêmio.png' %}" alt="Grêmio">
                                Grêmio
                            </div>
                        </div>
                    </div>
                    <div class="jogo-volta">
                        <div class="info">
                            <div class="data">
                                Brasileirão 21:30
                            </div>
                            <div class="local">
                                Morumbi
                            </div>
                        </div>
                        <div class="times">
                            <div class="mandante">
                                São Paulo
                                <img src="{% static 'img/escudos/São Paulo.png' %}" alt="São Paulo">
                            </div>
                            <div class="placar notlive">
                                x
                            </div>
                            <div class="visitante">
                                <img src="{% static 'img//escudos/Botafogo.png' %}" alt="Botafogo">
                                Botafogo
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}