<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <title>Registro</title>
  </head>
  <body class="login-bg">
    <style>
      body {
        overflow: hidden;
      }
      input[type="text"],
      input[type="password"] {
        border: 1px solid #8492A6;
        border-radius: 5px;
        box-sizing: border-box;
        display: block;
        font-size: 16px;
        margin-bottom: 20px;
        margin-left: 120px;
        padding: 10px;
        width: 50%;
      }
    </style>

    <div class="page-container">
      <div class="login-container">
        <h1 class="h1-reg">Cadastre-se</h1>
        <form>
          <label class="label-a" for="email"></label>
          <input type="text" id="email" placeholder="E-mail" name="email" required>
          <label class="label-a" for="password"></label>
          <input type="password" id="password" placeholder="Senha" name="password" required>
          <label class="label-a" for="password"></label>
          <input type="password" id="password" placeholder="Digite a senha novamente" name="password" required>
          <input type="submit" value="Cadastrar" onclick="register()">
        </form>
        <h2 class="h2-rec"> <a class="options-text" href="{% url 'login' %}">Já tem uma conta? Faça o login</a></h2>
      </div>
    </div>

    <script>
        function redirectToIndex() {
            window.location.href = "{% url 'index' %}";
            const registerInfoValidator = (info) => {
              if (!info.name) {
                return false;
              }
              if (!info.email) {
                return false;
              }
              if (!info.password) {
                return false
              }
              return true;
            };
            
            const register = () => {
              const email = document.getElementById("email").value
              const password = document.getElementById("password").value
            
              const infoValid = registerInfoValidator({ email, password })
              if (infoValid) {
                const user = {
                  email: email,
                  password: password,
                }
                localStorage.setItem('user', JSON.stringify(user))
                return true;
              }
              return false;
            };
        }
    </script>
  </body>
  
</html>