{% extends "layout.html" %}

{% block content %}

    <div class="jogos">
        <div class="jogo" id="chave-1">
            <div class="jogo-ida">
                <div>
                    <div class="info">
                        <div class="data aovivo">Ao Vivo 88'</div>
                        <div class="local">Mineirão</div>
                    </div>
                    <div class="times">
                        <div class="mandante">
                            Cruzeiro
                            <img src="/src/img/escudos/Cruzeiro.png" alt="Cruzeiro">
                        </div>
                        <div class="placar">3 x 0</div>
                        <div class="visitante">
                            <img src="/src/img/escudos/América-MG.png" alt="América-MG">
                            América-MG
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}