{% extends "layout.html" %}

{% block content %}

    <div class="container"> 
        <h2>Campeonatos</h2>
        <div class="campeonatos">
            {% load static %}

            <div>
                <a href="{% url 'serieA' %}">
                    <img src="{% static 'img/brasileirao.png' %}" alt="brasileirao">
                    <h5>Brasileirão Série A</h5>
                </a>
            </div>
            <div>
                <img src="{% static 'img/Campeonato_Brasileiro_Série_B.png' %}" alt="Série_B">
                <h5>Série B</h5>
            </div>
            <div>
                <img src="{% static 'img/copa-do-brasil.png' %}" alt="copa do brasil">
                <h5>Copa do Brasil</h5>
            </div>
            <div>
                <img src="{% static 'img/libert.png' %}" alt="Libertadores">
                <h5>Libertadores</h5>
            </div>
            <div>
                <img src="{% static 'img/conmebol-sul-americana.png' %}" alt="conmebol-sul-americana">
                <h5>Sul Americana</h5> 
            </div>            
        </div> 
        <table id="league-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Clube</th>
                    <th>Pts</th>
                    <th>PJ</th>
                    <th>VIT</th>
                    <th>E</th>
                    <th>DER</th>
                    <th>GM</th>
                    <th>GC</th>
                    <th>SG</th>
                </tr>
            </thead>
            <tbody>
                {% for team in data %}
                    <tr>
                        <td>{{ team.position }}</td>
                        <td>
                            <img src="{{ team.participant.image_path }}">
                            <span>{{ team.participant.name }}</span>
                        </td>
                        <td>{{ team.points }}</td>
                        <td>{{ team.details.0.value }}</td>
                        <td>{{ team.details.1.value }}</td>
                        <td>{{ team.details.2.value }}</td>
                        <td>{{ team.details.3.value }}</td>
                        <td>{{ team.details.4.value }}</td>
                        <td>{{ team.details.5.value }}</td>
                        <td>{{ team.details.18.value }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div id="loading-spinner" class="d-none">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

{% endblock content %}