@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

* {
  box-sizing: border-box;
  }
  
body {
  margin: 0px;
  font-family: 'Roboto',-apple-system, sans-serif;
  }

nav {
  background-color: #30d152;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0 20px;
  margin: 0;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  color: black;
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
}

nav .buttons ul,
nav .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

nav .logo {
  color: black;
  margin-left: 20px;
  font-weight: bold;
  text-decoration: none;
}

nav .buttons ul li {
  list-style: none;
  padding: 15px 20px;
  }
  
nav .buttons ul li:hover {
  cursor: pointer;
  background-color: #36d959;
  height: 100%;
  width: 100%;
  display: block;
  }