@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

* {
  box-sizing: border-box;
  list-style: none;
}
  
body {
  margin: 0px;
  font-family: sans-serif;
  }

.campeonatos {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  gap: 150px;
}

.campeonatos div {    
  padding: 10px;
}

.campeonatos div img {
  justify-items: center;
  align-items: center;
  width: 80px;
}
nav {
  background-color: #30d152;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0 20px;
  margin: 0;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  color: black;
  font-size: 20px;
  font-weight: 500;
}

nav .buttons ul,
nav .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav .logo {
  color: black;
  margin-left: 20px;
  font-weight: bold;
}

nav .logo a {
  font-size: 28px;
  font-weight: 500;
}

nav .buttons ul li {
  padding: 15px 20px;
  }
  
nav a:hover {
  text-decoration: none;
  color: black;
  }

nav .buttons ul li:hover {
  cursor: pointer;
  background-color: #36d959;
  height: 100%;
  width: 100%;
  display: block;
  }

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.times {
  display: flex;
  flex-direction: column;
}

.placar {
  margin: 0 10px;
}

